/* base */

@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */

@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* Custom style below */

.hero {
    padding-bottom: 20px;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.logo {
    height: 80px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.clock {
    margin: 40px 0;
}

footer.container {
    padding-top: 0;
}

@media (max-width: 500px) {
    .main-title {
        font-size: 60px;

    }
}